<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ponmari_Sample</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/assets/dashboard/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- bootsrtap -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Theme style -->
  <link rel="stylesheet" href="/assets/dashboard/dist/css/alter.css">
  <link rel="stylesheet" href="/assets/dashboard/dist/css/mbbs.css">
  <!-- Google Font Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro300,400,400i,700" rel="stylesheet">
  <style>
    @media print{
body{
  margin-top: 150px!important;

}
    }
  
</style>
</head>
<body class="hold-transition sidebar-mini">
    <div class="toolbar no-print">
      <button class="btn btn-info" onclick="window.print()">
        Print Certificate
      </button>
    </div>
   
<section id="report"class="text-dark black"style=" color: #000;">
  <div class="container">
         <div id="reportcard"class="bond">
 
          <div class="row justify-content-center">
            <div class="col-md-12"><h4 class="other-font text-dark"style="font-family:normal"><u>TIRUNELVELI MEDICAL COLLEGE,<br>
                 TIRUNELVELI-11. </u>
          </h4>
          <p class="text-dark text-center mt-5"style="font-weight:600!important"><i style="font-size: 17px;"><u>PERSONAL DETAILS</u></i>
        </p>
               </div>
                   
          
                
          </div>
     

<br>
<div class="row text-left justify-content-between  weight"id="rep7">
  <div class="col-md-3">

<p><b>Name </b></p>
  </div>
  <div class="col-md-3"id="fontnormal">

    <%
    if(userData.length!=0){
    var i=1;
    userData.forEach(function(classdata){
    %>
    <p> :&nbsp;&nbsp;<%=classdata.name %></p>
 
    <%  i++; }) %>
<% } else{ %>

<% } %>
      </div>
      <div class="col-md-3">
</div>
<div class="col-md-3">
</div>
</div>
<div class="row text-left justify-content-between weight"id="rep7">
  <div class="col-md-3">

<p><b>A.R No</b></p>
<p><b>Neet Mark   </b></p>
<p><b>Neet UG Roll No
</b></p>
<p><b>Year of Admission </b></p>




  </div>
  <div class="col-md-2"id="fontnormal">
 

<%
if(userData1.length!=0){
var i=1;
userData1.forEach(function(classdata1){
%>
<p>:&nbsp;&nbsp;<%=classdata1.ar_no%></p>
<p>:&nbsp;&nbsp;<%=classdata1.neet_mark%></p>
<p>:&nbsp;&nbsp;<%=classdata1.neet_roll_no%></p>
<%
if(userData.length!=0){
var i=1;
userData.forEach(function(classdata){
%>
<p>:&nbsp;&nbsp;<%=classdata.academic_year %></p>
<%  i++; }) %>
<% } else{ %>

<% } %>
<%  i++; }) %>
<% } else{ %>

<% } %>
  

</div>

  <div class="col-md-3"style="margin-top:-45px">
      <p><b>Date Of Admission</b></p>
      <p><b>Rank</b></p>
      <p><b>Community</b></p>
      <p><b>Select Category</b></p>
      <p><b>Name Of The Course</b></p>
      
  </div>


  <div class="col-md-4"style="margin-top:-42px;"id="fontnormal">
    <%
    if(userData1.length!=0){
    var i=1;
    userData1.forEach(function(classdata1){
    %>
    <p>:&nbsp;<%=classdata1.date_of_admission %></p>
    <p>:&nbsp;<%=classdata1.rank%></p>
    <%
    if(userData.length!=0){
    var i=1;
    userData.forEach(function(classdata){
    %>
    <p>:&nbsp;<%=classdata.community%></p>
    <%  i++; }) %>
    <% } else{ %>
  
    <% } %>
    <p>:&nbsp;<%=classdata1.selected_category %></p>
    <p>:&nbsp;<%=classdata1.course %></p>
    <%  i++; }) %>
    <% } else{ %>
  
    <% } %>

</div>

  <br>
</div>


<section id="tablecerti">
    <div class="table-responsive">
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(classdata){
        %>
        <table class="table table-bordered text-left index">
            <thead>
              <tr>
                <th scope="col"width="60px">1</th>
                <th scope="col">Candidate Name (Capital Letter)</th>
               
                <th scope="col"style="text-transform:uppercase"><%=classdata.name%> <%=classdata.initial%>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>2</th>
                <th >Initial & Expansion of Initial</th>
                
                
                <td><%=classdata.initial%> & <%=classdata.initial_expansion%></td>
              </tr>
              <tr>
                <th>3</th>
                <th >Gender</th>
                
                
                <td><%=classdata.gender%></td>
              </tr>
              <tr>
                <th>4</th>
                <th >Date of Birth</th>
                
                
                <td><%=classdata.date_of_birth%></td>
              </tr>
              <tr>
                <th>5</th>
                <th >Father Name</th>
                
                
                <td><%=classdata.father_name%></td>
              </tr>
              <tr>
               <th>6</th>
                <th >Mother Name</th>
                
                
                <td><%=classdata.mother_name%></td>
              </tr>
              <tr>
               <th>7</th>
                <th >Nationality</th>
                
                
                <td><%=classdata.nationality%></td>
              </tr>
              <tr>
               <th>8</th>
                <th >Religion</th>
                
                
                <td><%=classdata.religion%></td>
              </tr>
              <tr>
               <th>9</th>
                <th >Community & Caste
                </th>
                
                
                <td><%=classdata.community%> & <%=classdata.caste%></td>
              </tr>
              <tr>
               <th>10</th>
                <th >Community Certificate No & Date
                    
                </th>
                
                
                <td>TN-5202010281382&04/11/2020</td>
              </tr>
              <tr>
               <th>11</th>
                <th >Community Issuing Authority
                    
                </th>
                
                
                <td>Tahsildar</td>
              </tr>
              <%
              if(userData2.length!=0){
              var i=1;
              userData2.forEach(function(classdata2){
              %>
              <tr class="p-5">
                <th class="">12</th>
                <th class=""height="100">Address

                    
                </th>
                
                
                <td> <%=classdata2.ps_address %></td>
              </tr>
            
              <tr>
               <th>13</th>
                <th >District
                    
                </th>
                
                
                <td><%=classdata2.ps_district %></td>
              </tr>
              <tr>
               <th>14</th>
                <th >State

                    
                </th>
                
                
                <td><%=classdata2.ps_state %></td>
              </tr>
              <tr>
               <th>15</th>
                <th >Pincode

                    
                </th>
                
                
                <td><%=classdata2.ps_pincode %></td>
              </tr>
              <%  i++; }) %>
              <% } else{ %>
              
              <% } %>
              <%
              if(userData8.length!=0){
              var i=1;
              userData8.forEach(function(classdata8){
              %>
              <tr>
               <th>16</th>
                <th >Phone No./Mobile No.

                    
                </th>
                
                
                <td><%=classdata8.mobile_phone %></td>
              </tr>
              
              <tr>
               <th>17</th>
                <th >E-mail ID

                    
                </th>
                
                
                <td><%=classdata8.email_id %></td>
              </tr>
              <%  i++; }) %>
              <% } else{ %>
              
              <% } %>
              <%
              if(userData.length!=0){
              var i=1;
              userData.forEach(function(classdata){
              %>
              <tr>
               <th>18</th>
                <th >Blood Group


                    
                </th>
                
                
                <td><%=classdata.blood_group %></td>
              </tr>
              <%  i++; }) %>
              <% } else{ %>
              
              <% } %>
              <%
              if(userData8.length!=0){
              var i=1;
              userData8.forEach(function(classdata8){
              %>
              <tr>
               <th>19</th>
                <th >Candidate Aadhar No


                    
                </th>
                
                
                <td><%=classdata8.aadhar_no %></td>
              </tr>
              <%  i++; }) %>
              <% } else{ %>
              
              <% } %>
              <%
              if(userData1.length!=0){
              var i=1;
              userData1.forEach(function(classdata1){
              %>
              <tr>
               <th>20</th>
                <th >NEET UG Roll No. (Final Exam)


                    
                </th>
                
                
                <td><%=classdata1.neet_roll_no %></td>
              </tr>
            
              <tr>
               <th>21</th>
                <th >AIR No.


                    
                </th>
                
                
                <td><%=classdata1.ar_no %></td>
              </tr>
              <tr>
               <th>22</th>
                <th >Candidates Category


                    
                </th>
                
                
                <td><%=classdata1.selected_category %></td>
              </tr>
              <tr>
               <th>23</th>
                <th >Allotted Category


                    
                </th>
                
                
                <td><%=classdata1.selected_category %></td>
              </tr>
             
              <tr>
               <th>24</th>
                <th >Joining Date


                    
                </th>
                
                
                <td><%=classdata1.date_of_admission %></td>
              </tr>
              <%  i++; }) %>
              <% } else{ %>
              
              <% } %>

            </tbody>
          </table>
          <%  i++; }) %>
          <% } else{ %>
        
          <% } %>
    </div>
    <div class="row mt-5 pt-5"id="f-15">
<div class="col-md-7">
<h4><i>SIGNATURE OF THE PARENT/GUARDIAN</i></h4>
</div>
<div class="col-md-5">
  <h4><i>SIGNATURE OF THE CANDIDATE</i></h4>

</div>
    </div>
</section>     






                
  </div>
</div>
</div>
</section>



 
<!-- jQuery bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
UPLOADCARE_PUBLIC_KEY = 'demopublickey';
</script>
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>
<!-- AdminLTE App -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src="/assets/js/print.js"></script>
<script src="js/adminlte.js"></script>
<script src="js/mbbs.js"></script>

<!-- AdminLTE for demo purposes -->
<script src="js/demo.js"></script>
<!-- page script -->




</body>

</html>