<!DOCTYPE html>
<html>

<head>
  <script>
    var datas = '<%-JSON.stringify(userData)%>';
    var data2 = '<%-JSON.stringify(userData8)%>';
    var data3 = '<%-JSON.stringify(userData1)%>';
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ponmari_Sample</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/assets/dashboard/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- bootsrtap -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Theme style -->
  <link rel="stylesheet" href="/assets/dashboard/dist/css/alter.css">
  <link rel="stylesheet" href="/assets/dashboard/dist/css/mbbs.css">
  <!-- Google Font Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro300,400,400i,700" rel="stylesheet">
  <style>

    @media print{
      #table2,table{
  border: 0!important;
}
body{
  margin-top: -55px!important;
 
}

@page {size: landscape!important;}

    }
</style>
</head>
<body class="hold-transition sidebar-mini">
    <div class="toolbar no-print">
      <button class="btn btn-info"  onclick="jQuery.print()">
        Print Certificate
      </button>
    </div>
   
<section id="report"class="black ">
  <div class="container-fluid">
         <div id="reportcard"class="  "style="font-family: normal;">
 
<div class="row justify-content-center mb-4">
  <div class="col-md-12"><h4 class="other-font "><u><b>Tirunelveli Medical College, Tirunelveli-11 Admission Register</b></u></h4>
     </div>
</div>
      <br />
          
      <table class="table"style=" border: 0!important;">
        <thead id="table2"style="border:none">
          
    <tr>
      <th scope="col">SI. NO</th>
      <th scope="col">Name of the Student/ Register No /
Phone No
</th>
      <th scope="col">Father's Name / Address</th>
      <th scope="col">DOB </th>
            <th scope="col">DOJ </th>
      <th scope="col">Community </th>
      <th scope="col">Qualification / Register No / School Name </th>
      <th scope="col"style="width: 86px;">SQ / AIQ  </th>
   <th scope="col"style="width: 96px;">Blood Group</th>
      <th scope="col">Photo</th>

    </tr>
  </thead>
  <tbody id="table2"class="">
  <%
for (i in userData){
%>
    <tr id="tleft">
      <td ><%=Number(i)+1%></td>
      <td><%=userData[i].cand_name %> <%=userData1[i].initial %><br>
 
Mobile No:<%=userData8[i].mobile_phone %><br> 
 E-Mail: <span style="text-transform: lowercase;">
<%=userData8[i].email_id %></td></span>


       <td><%= userData1[i].father_name%><br> 


<%=userData2[i].ps_address%>

</td>


      <td style="width: 82px;"><p><%=userData1[i].date_of_birth%></p></td>
      

      <td style="width: 93px;"><%=userData[i].date_of_admission%></td>

            <td><%=userData1[i].community%>- <%=userData1[i].religion%>- <%=userData1[i].caste%>
</td>

<td><%=userData4[i].exam_passed%>, <%=userData4[i].register_no%>, <%=userData4[i].institute_name%>, <%=userData4[i].place%>, <%=userData4[i].district%>, <%=userData4[i].state%></td>


      <td><%=userData[i].admission_quota%></td>

<td><%=userData1[i].blood_group%></td>


<td><img src="/uploads/<%=userData12[i].Filename %>" class="img-fluid"style="width: 300px"></td>

    </tr>
    
    <% } %>
        
  </tbody>
</table> 

 
 
  </div>
</div>
</div>
</section>




 
<!-- jQuery bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
UPLOADCARE_PUBLIC_KEY = 'demopublickey';
</script>

<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>
<!-- AdminLTE App -->
<script src="js/adminlte.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src="/assets/js/print.js"></script>
<script src="js/mbbs.js"></script>

<!-- AdminLTE for demo purposes -->
<script src="js/demo.js"></script>
<!-- page script -->


</body>

</html>