<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ponmari_Sample</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/assets/dashboard/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- bootsrtap -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Theme style -->
  <link rel="stylesheet" href="/assets/dashboard/dist/css/alter.css">
  <link rel="stylesheet" href="/assets/dashboard/dist/css/mbbs.css">
  
  <!-- Google Font Source Sans Pro -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro300,400,400i,700" rel="stylesheet"> -->
<style>
      @media print{
  body{
    transform:scale(1.3)!important;

  }
      }
</style>
</head>

<body class="hold-transition sidebar-mini">



  <div class="toolbar no-print">
    <button class="btn btn-info" onclick="window.print()">
      Print Certificate
    </button>
<!--     <button id="cmd">generate PDF</button>
 -->
  </div>

  
<section id="report"class="blue ">
<div class="container d-flex justify-content-center">
       <div id="reportcard"class=" ">
  <div class="card m-4 p-3"id="bordert">

<div class="row text-center"id="top">
<div class="col-md-2 text-center"><img src="assets/img/r1.jpg"class="img-fluid"width="150"></div>
<div class="col-md-7"id="topcenter"><h2 class="other-font ">Tirunelveli Medical College<br><span class="tvl">Tirunelveli,</span></h2>
  <h5 class="blue margin"id="state"><span class="blue margin">STATE OF TAMILNADU, INDIA<BR>PINCODE:627011</span></h5>
        <h5 class="text-center margin"id="addrep1"><strong class="blue margin"id="addrep">
Tel: 91-462-2572733, 257273 Fax: 91-462-2572944</strong>
</h5>
<p id="newadd"class="margin">Under the Directorate of Medical Education, Government of Tamilnadu, Chennai-10
Affliated with the Tamil Nadu Dr.M.G.R. Medical University, Guindy, Chennai-32
Recognized by the Medical Council of India, New Delhi.
</p>
</div>
<div class="col-md-3 text-right"><img src="assets/img/logo.gif"class="img-fluid"width="135"></div>
</div>
   
        <hr class="margin">
        <div id="border">
        <h4 class="text-center"id="center"><strong> 
Letter of Admission
</strong></h5>
<br />
<%
if(userData.length!=0){
var i=1;
userData.forEach(function(classdata){
%>
      <ul class="text-left">
        <div class="row"id="margint">
          <div class="col-md-3">
        <li><h5>Name: </h5></li>
        <li><h5>Father Name:</h5> </li>
        <li><h5>Mother Name:</h5></li>
        <li><h5>Date of Birth:</h5> </li>
        <li><h5>Gender: </h5></li>
        <li><h5>Nationality:</h5></li><br>
      </div>
      <div class="col-md-6"id="ackadd">
        <li><h5><%=classdata.name %></h5></li>
        <li><h5><%=classdata.father_name %></h5></li>
        <li><h5><%=classdata.mother_name %></h5></li>
        <li><h5><%=classdata.date_of_birth %></h5></li>
        <li><h5> <%=classdata.gender %></h5></li>
        <li><h5><%=classdata.nationality %></h5></li>

      </div>
    
      <div class="col-md-3"id="img">
        <%
        if(userData12.length!=0){
        var i=0;
        userData12.forEach(function(classdata12){
        %>
        <p style="border: 1px slid ;    width: 150px;
        height: 180px;">
          <img src="/uploads/<%=classdata12.Filename %>" width='150px'height= '180px' />

          </p>
          <%  i++; }) %>
<% } else{ %>

<% } %>
<%
if(userData13.length!=0){
var i=0;
userData13.forEach(function(classdata13){
%>
          <p style="border: 1px sold ;width: 150px;height: 170px">
            <img src="/uploads/<%=classdata13.Filename %>" width='150px'height= '170px'/>

          </p>
          <%  i++; }) %>
          <% } else{ %>
          
          <% } %>
      </div>
     
    </div>
        <li id="margint"class="lineht"> <p style="font-size: 25px;margin-top: -32px;">
          <span>Dear ,</span><br>
          We are happy to inform that you stand admitted to this institute. We wish you an enriching  academic  journey  through  your  course  work  starting   this   academic  year <%=classdata.academic_year %>                     . 

</p></li>
<%  i++; }) %>
<% } else{ %>

<% } %>
<%
if(userData1.length!=0){
var i=1;
userData1.forEach(function(classdata1){
%>
<li>
<div class="row mt-5"id="normal">
<div class="col-md-4 lineht1">
            <p style="font-size: 25px"class="blue">
              Name of the Course
</p>
<p><%=classdata1.course %></p>

</div>
<%
if(userData.length!=0){
var i=1;
userData.forEach(function(classdata){
%>
  <div class="col-md-4 lineht1">
              <p style="font-size: 25px"class="blue">
Year of Admission
</p>
<p><%=classdata.academic_year %></p>

</div>
<%  i++; }) %>
<% } else{ %>

<% } %>
  <div class="col-md-4 lineht1">
              <p style="font-size: 25px;"class="blue">Date of Admission</p>
              <p><%=classdata1.date_of_admission %></p>

</div>

</div>
<br></li>

<li id="margint">              <p class="blue mt-2">
<i style="font-size: 25px" class="lineht">The Campus opens to your batch on <u><%=classdata1.course_commencement%></u> when you shall meet up with the honoured faculty of this institute and start your training with us.</i>

</p>
<%  i++; }) %>
<% } else{ %>

<% } %>
<%
if(userData14.length!=0){
var i=1;
userData14.forEach(function(classdata14){
%>
<div class="row">
 
  <div class="col-md-12"id="img1">
    <p style="border: 1px soid ;width: 150px">
      <img src="/uploads/<%=classdata14.Filename %>" width='150'/>
      
    </p>
    <p style="font-style: normal;">Student Thumb Impression</p>
  </div>
  
</div>
<%  i++; }) %>
<% } else{ %>

<% } %>
</li>
<li><div class="row"id="normal">
<div class="col-md-10">
                  <p style="font-size: 25px;font-weight: 800"class="blue ">Date:
</p>
</div>
<div class="col-md-2">
                 <p style="font-size: 25px;font-weight: 800;font-style: italic;"class="blue ">Dean
</p>
</div>
</div></li>
<li>
<br><br>

<div class="row"id="bottom">
<div class="col-md-3">
                  <p style="font-size: 20px;font-weight: 800"class="blue">   Assistant ME
</p>
</div>
<div class="col-md-3">
                  <p style="font-size: 20px;font-weight: 800"class="blue">Office Supdt
</p>
</div>
  <div class="col-md-3">
                  <p style="font-size: 19px;font-weight: 800"class="blue">Junior Admin Officer
</p>
</div>
  <div class="col-md-3">
                  <p style="font-size: 20px;font-weight: 800"class="blue text-right">Vice Principal
</p>
</div>
</div>
</li>
      </ul>
    </div>
</div>
</div>
</div>
</section>
<!-- jQuery bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
<script>
UPLOADCARE_PUBLIC_KEY = 'demopublickey';
</script>
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>
<!-- AdminLTE App -->
<script src="js/adminlte.js"></script>
<script src="js/mbbs.js"></script>

<!-- AdminLTE for demo purposes -->
<script src="js/demo.js"></script>
<!-- page script -->

<script type="text/javascript">
	$(function () {

    var specialElementHandlers = {
        '#editor': function (element,renderer) {
            return true;
        }
    };
 $('#cmd').click(function () {
        var doc = new jsPDF();
        doc.fromHTML($('#report').html(), 15, 15, {
            'width': 170,'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
    });  
});
</script>
<script>
  
</script>
</body>

</html>