<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ponmari_Sample</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/assets/dashboard/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- bootsrtap -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Theme style -->
  <link rel="stylesheet" href="/assets/dashboard/dist/css/alter.css">
  <link rel="stylesheet" href="/assets/dashboard/dist/css/mbbs.css">
  <!-- Google Font Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro300,400,400i,700" rel="stylesheet">
  <style>
 
#tablecerti th, #tablecerti td{
  text-transform: unset;
}
    @media print{

body{
 
  transform:scale(1.1)!important;
  margin-top: 350px!important;

}
#tablecerti th, #tablecerti td {
  border: none!important;
}
#tablereport th,#tablereport td{
  border: 1px solid #000!important;
}
    }
    #tablecerti th, #tablecerti td, #tablecerti thead,#tablecerti tbody {
  border: none!important;
  font-size: 20px;
}

</style>
</head>
<body class="hold-transition sidebar-mini">
    <div class="toolbar no-print">
      <button class="btn btn-info" onclick="window.print()">
        Print Certificate
      </button>
    </div>
   
<section id="report"class="text-dark black university"style=" color: #000;">
  <div class="container text-dark">
<div class="row mt-5">
    <div class="col-md-2 ">
        <img src="/assets/img/girl (2).jpg"width="180"alt="logo"class="img-fluid">
        </div>
        <div class="col-md-9 "id="head">
            <p><b>Cost of application form: Rs. 100/-,</b></p>
            <p class="ml-5"style="    text-indent: -2cm;
    
    padding-left: 71px;">(For application downloaded from the Web site, candidates are instructed to pay Rs.50/- in addition to the
                prescribed fees for registration, otherwise it will be rejected.)</span> </p>
        
            <h2 class="text-center pl-5">THE TAMILNADU Dr. M.G.R. MEDICAL UNIVERSITY
            </h2>
            <p class="text-center pl-5">NO. 69, Anna Salai, Guindy, Chennai - 600 032.</p>

            
            <h2 class="text-center pl-4">APPLICATION FOR REGISTRATION FOR U.G. COURSES <br>MEDICAL
<br>M.B.B.S.
            </h2>
            <p class="text-center pl-5">(Incomplete Applications will be rejected)</p>
        </div>
       

</div>
<section id="tablecerti">
  <div class="row">
      <div class="col-md-9">
      <table class="table  text-left index">
         
          <tbody>
            <tr>
              <th></th>
              <td style="width: 400px;position: relative;left: -23px">
                Year of Admission 

              </td>
             
                   <%
              if(userData.length!=0){
              var i=1;
              userData.forEach(function(classdata){
              %> 
              <td id="capital">:&nbsp; &nbsp; <%=classdata.academic_year %></td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
              
            </tr>
            <tr>
              <td>1</td>
              <td>Name of the Candidate in<br>
                in BLOCK LETTERS<br>
                (As entered in the Higher<br>
                Secondary Certificate)</td>
              
              
                     <%
              if(userData.length!=0){
              var i=1;
              userData.forEach(function(classdata){
              %> 
              <td id="capital">:&nbsp; &nbsp; <%=classdata.name %> <%=classdata.initial %></td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
              </tr>
              <tr>
                <th></th>
                <td>(a) Expansion of Initials </td>
                
                
                     <%
              if(userData.length!=0){
              var i=1;
              userData.forEach(function(classdata){
              %> 
              <td id="capital">:&nbsp; &nbsp;<%=classdata.initial_expansion %></td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                               
                </tr>
                <tr>
                  <th></th>
                  <td>(b) Name in Tamil  </td>
                  
                  
                         <%
              if(userData.length!=0){
              var i=1;
              userData.forEach(function(classdata){
              %> 
              <td id="capital">:&nbsp; &nbsp; </td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Sex</td>
                    
                    
                           <%
              if(userData.length!=0){
              var i=1;
              userData.forEach(function(classdata){
              %> 
              <td id="capital">:&nbsp; &nbsp; <%=classdata.gender %></td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                    </tr>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Date of Birth (Christian<br>
                      Era) Evidence should be<br>
                      enclosed</td>
                    
                    
                           <%
              if(userData.length!=0){
              var i=1;
              userData.forEach(function(classdata){
              %> 
              <td id="capital">:&nbsp; &nbsp; <%=classdata.date_of_birth %></td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                    </tr>
                  
                    <tr>
                      <td></td>
                      <td colspan="2"class="py-4">(The candidate should have completed 17 Years of age at the time of admission or should complete the<br>
                        age on or before 31st December of the year of admission) </td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>(a) Name of Father/ Guardian </td>
                      
                      
                             <%
              if(userData.length!=0){
              var i=1;
              userData.forEach(function(classdata){
              %> 
              <td id="capital">:&nbsp; &nbsp; <%=classdata.father_name %></td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                      </tr>
                      <tr>
                        <td></td>
                        <td>(b)Name of Mother  </td>
                        
                        
                               <%
              if(userData.length!=0){
              var i=1;
              userData.forEach(function(classdata){
              %> 
              <td id="capital">:&nbsp; &nbsp; <%=classdata.mother_name %></td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                        </tr>
                        <tr>
                          <td></td>
                          <td>(c) Native Place  </td>
                          
                          
                 <%
                if(userData2.length!=0){
                var i=1;
                userData2.forEach(function(classdata2){
                %>
              <td id="capital">:&nbsp; &nbsp; <%=classdata2.ps_district %></td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                          </tr>
                          <tr>
                            <td class="pt-2"></td>
                            <td class="pt-2">(d) Permanent residential address   </td>
                            
                            
                                   <%
              if(userData2.length!=0){
              var i=1;
              userData2.forEach(function(classdata2){
              %> 
              <td class="pt-2">:&nbsp; &nbsp; <%=classdata2.ps_address %><br>&nbsp; &nbsp; &nbsp;<%=classdata2.ps_district %>
                  <%=classdata2.ps_pincode %><br>&nbsp; &nbsp; &nbsp;<%=classdata2.ps_state %>
               </td>   
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                            </tr>
                            <tr>
                              <td class="py-5"></td>
                              <td class="py-5">(e) Present address    </td>
                              
                              
                                     <%
              if(userData2.length!=0){
              var i=1;
              userData2.forEach(function(classdata2){
              %> 
              <td class="py-5">:&nbsp; &nbsp; <%=classdata2.ps_address %><br>&nbsp; &nbsp; &nbsp;<%=classdata2.ps_district %>
                  <%=classdata2.ps_pincode %><br>&nbsp; &nbsp; &nbsp;<%=classdata2.ps_state %>
               </td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                              </tr>
                       
                                <tr>
                                  <td></td>
                                  <td>Email Id    </td>
                                  
                                  
                                        
              <%
                if(userData8.length!=0){
                var i=1;
                userData8.forEach(function(classdata8){
                %>
              <td id="capital">:&nbsp; &nbsp; <%=classdata8.email_id %></td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td>Mobile     </td>
                                    
          <%
                if(userData8.length!=0){
                var i=1;
                userData8.forEach(function(classdata8){
                %>
              <td id="capital">:&nbsp; &nbsp;<%=classdata8.mobile_phone %></td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>             
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td>Landline    </td>
                                      
                  <%
                if(userData8.length!=0){
                var i=1;
                userData8.forEach(function(classdata8){
                %>
              <td id="capital">:&nbsp; &nbsp;<%=classdata8.tel_phone %></td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>             
                                      </tr>
                                      <tr>
                                        <td class="pt-5">5</td>
                                        <td class="pt-5">(a) Religion   </td>
                                        
                                        
                                               <%
              if(userData.length!=0){
              var i=1;
              userData.forEach(function(classdata){
              %> 
              <td class="pt-5">:&nbsp; &nbsp;<%=classdata.religion %></td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                                        </tr>
         
                                        <tr>
                                          <td></td>
                                          <td>(b) Community   </td>
                                          
                                          
                                                 <%
              if(userData.length!=0){
              var i=1;
              userData.forEach(function(classdata){
              %> 
              <td id="capital">:&nbsp; &nbsp; <%=classdata.community %></td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                                          </tr>
                                          <tr>
                                            <td></td>
                                            <td>(c) State whether SC/ST/MBC/<br>
                                              DC/BC/others (Original<br>
                                              community certificate should<br>
                                              be enclosed)
                                                </td>
                                            
                                            
              <%
                if(userData1.length!=0){
                var i=1;
                userData1.forEach(function(classdata1){
                %>
              <td id="capital">:&nbsp; &nbsp; </td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                                            </tr>
           
                                            <tr>
                                              <td>6</td>
                                              <td>(a) Category which admitted to<br>
                                                the course(Govt/Management)<br>
                                                etc 
                                                  </td>
                                              
                                              
                                                     <%
              if(userData1.length!=0){
              var i=1;
              userData1.forEach(function(classdata1){
              %> 
              <td id="capital">:&nbsp; &nbsp; <%=classdata1.selected_category %></td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                                              </tr>
                                              
                                            <tr>
                                              <td></td>
                                              <td>(b) Date of joining the course 
                                                  </td>
                                              
                                              
                                                     <%
              if(userData1.length!=0){
              var i=1;
              userData1.forEach(function(classdata1){
              %> 
              <td id="capital">:&nbsp; &nbsp; <%=classdata1.date_of_admission %></td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                                              </tr>
                                              <tr>
                                                <td>7</td>
                                                <td colspan="2">Qualification and marks obtained (original mark sheet to be enclosed) </td>
                                              </tr>
            
            

          </tbody>
        </table>
        
        </div>

       <div class="col-md-3 text-right">
<%
if(userData12.length!=0){
var i=1;
userData12.forEach(function(classdata12){
%>
<td><img src="/uploads/<%=classdata12.Filename %>" class="img-fluid"style="width: 300px"></td>
<%  i++; }) %>
<% } else{ %>

<% } %>        
       </div> 

  </div>
    
</section>
<div class=" text-center" >
  <table class="table table-bordered" id="tablereport">
<thead>
  <tr>
    <th scope="col">Examination
      passed</th>
    <th scope="col">Name of the
      Board (State/
      Central/Others) 
</th>
    <th scope="col" width="200px">School / College</th>
    <th scope="col">Duration
      Of the
      Course </th>
          <th scope="col">Register
            No. </th>
    <th scope="col">Month/
      Year of
      Passing </th>
    
    

  </tr>
</thead>
<%
if(userData4.length!=0){
var i=1;
userData4.forEach(function(classdata4){
%>
<tbody>
<tr class="p-5"style="height:180px">
  <td><%=classdata4.exam_passed%></td>
  <td><%=classdata4.board%></td>
  <td><%=classdata4.institute_name%></td>

  <td><%=classdata4.duration%></td>
  <td><%=classdata4.register_no%></td>
  <td><%=classdata4.month_of_passing%>/ <%=classdata4.year_of_passing%></td>

</tr>
</tbody>
<%  i++; }) %>
<% } else{ %>

<% } %>
</table> 

</div>
<table class="table table-bordered mt-5" id="tablereport">
  <thead class="text-center">
    <tr>
      <th scope="col">Subject</th>
      <th scope="col">English  
</th>
      <th scope="col" width="200px">Physics</th>
      <th scope="col">Chemistry</th>
            <th scope="col">Botany </th>
      <th scope="col">Zoology </th>
      <th scope="col">Biology/
        Maths </th>
      

    </tr>
  </thead>
  <%
  if(userData5.length!=0){
  var i=1;
  userData5.forEach(function(classdata5){
  %>
<tbody>
  <tr class="p-5"style="">
    <td>Maximum
      Marks </td>
      <td><%=classdata5.eng_max %> </td>
      <td><%=classdata5.phy_max %> </td>
      <td><%=classdata5.chem_max %> </td>
      <td><%=classdata5.bot_max %> </td>
      <td><%=classdata5.zoo_max %> </td>
      <td><%=classdata5.bio_max %> </td>
  </tr>
  <tr class="p-5"style="">
    <td>Marks
      Obtained </td>
      <td><%=classdata5.eng_total %> </td>
      <td><%=classdata5.phy_total %> </td>
      <td><%=classdata5.chem_total %> </td>
      <td><%=classdata5.bot_total %> </td>
      <td><%=classdata5.zoo_total %> </td>
      <td><%=classdata5.bio_total %> </td>
  </tr>
</tbody>
<%  i++; }) %>
<% } else{ %>

<% } %>
</table> 
<section id="tablecerti">
  <div class="row">
      <div class="col-md-10">
      <table class="table  text-left index">
         
          <tbody>
          
                 
                 
                  
                    <tr>
                      <td></td>
                      <td colspan="2">FOR CANDIDATES WHO HAVE PASSED THE QUALIFYING EXAMINATION OTHER THAN<br>
                        H.S.C. OF TAMILNADU </td>
                    </tr>
                                           
                    <tr>
                      <td></td>
                      <td>Whether Eligibility Certificate<br>
                        obtained from The T.N Dr.<br>
                        M.G.R Medical University is </td>
                      
                      
                             <%
              if(userData.length!=0){
              var i=1;
              userData.forEach(function(classdata){
              %> 
              <td id="capital">:&nbsp; &nbsp; </td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                      </tr>
                      <tr>
                        <td></td>
                        <td>Whether Transfer Certificate is<br>
                          enclosed</td>
                        
                        
                               <%
              if(userData.length!=0){
              var i=1;
              userData.forEach(function(classdata){
              %> 
              <td id="capital">:&nbsp; &nbsp; </td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                        </tr>
                        
                    <tr>
                      <td></td>
                      <td colspan="2">FOR CANDIDATES WHO HAVE PASSED THE QUALIFYING EXAMINATION ABROAD </td>
                    </tr>
                          
                        <tr>
                          <td></td>
                          <td>Whether Eligibility Certificate<br>
                            obtained from the T.N. Dr.<br>
                            M.G.R. Medical University is<br>
                            enclosed</td>
                          
                          
                                 <%
              if(userData.length!=0){
              var i=1;
              userData.forEach(function(classdata){
              %> 
              <td id="capital">:&nbsp; &nbsp;</td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                          </tr>
                          <tr>
                            <td></td>
                            <td>Whether passport and "Student<br>
                              Visa" have been obtained (Xerox<br>
                              Copies should be enclosed)</td>
                            
                            
                                   <%
              if(userData.length!=0){
              var i=1;
              userData.forEach(function(classdata){
              %> 
              <td id="capital">:&nbsp; &nbsp;</td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                            </tr>
                            <tr>
                              <td></td>
                              <td>Blood Group<br>
                                (Certificate from a competent<br>
                                person should be enclosed)
                                </td>
                              
                              
                                     <%
              if(userData.length!=0){
              var i=1;
              userData.forEach(function(classdata){
              %> 
              <td id="capital">:&nbsp; &nbsp;<%=classdata.blood_group %></td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                              </tr>
                              <tr>
                                <td></td>
                                <td>Contact Phone No
                                  </td>
                                
                                
                                       <%
              if(userData.length!=0){
              var i=1;
              userData.forEach(function(classdata){
              %> 
              <td id="capital">:&nbsp; &nbsp; </td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                                </tr>
                                <tr>
                                  <td></td>
                                  <td style="width: 400px;">Willingness to donate blood
                                    </td>
                                  
                                  
                                         <%
              if(userData.length!=0){
              var i=1;
              userData.forEach(function(classdata){
              %> 
              <td id="capital">:&nbsp; &nbsp; <%=classdata.willing_to_donate_blood %></td>  
                <%  i++; }) %>
            <% } else{ %>
            
            <% } %>                                                                                                             
                                  </tr>

          </tbody>
        </table>
        
        </div>

      

  </div>
    
</section>
<section id="note"class="p-0 ml-4">
  <li style="list-style: none;"class="mt-5"><b><u>Note:
  </u></b></li>
  <li style="list-style: none;">
  <p style="width:783px">The following certificates in original should be submitted with the application with one set of Xerox
    copy of the originals failing which candidate will not be registered for the course.</p>
    <ol>
      <li style="width:783px"><p>H.Sc/Equivalent Mark statement(s).</p></li>
      <li style="width:783px"><p> Transfer Certificate
        .</p></li>
      <li style="width:783px"><p>. Proof for Date of Birth (in case if it is not available in T.C/Mark Statement).</p></li>
      <li style="width:783px"><p>Allotment order of the Selection Committee for the candidates admitted under Govt.Quota.</p></li>
      <li style="width:783px"><p>Migration Certificate for non-H.Sc candidates i.e., other than H.Sc of Tamil Nadu.</p></li>
      <li style="width:783px"><p>No Objection Certificate(NOC) for foreign candidates..</p></li>
  
      <li style="width:783px"><p>. Eligibility Certificate obtained from this University for non-H.Sc course i.e.,<b> other than</b> H.Sc. of
        Tamil Nadu.</p></li>
        <li style="width:783px"><p>Eligibility Certificate obtained from this University for foreign candidates..</p></li>
  
    </ol>
  </li>
</section>
<section id="unibottom"class="text-dark">
  <h5 class="text-center text-dark"style="font-size:20px"> <u>DECLARATION BY THE CANDIDATE</u></h5>
  <br>
  <p style="text-indent: 4cm;"class="text-dark ml-5 pl-5">I declare that the particulars mentioned above are true and I will not claim/--------- ask for any<br>
    change with regard to any of the particulars furnished above.<br>
    
     </p>
     <p style="text-indent: 4cm;">I agree to abide by the rules and regulations of the University as framed from time to time.</p>
<div class="row mt-100">
  <div class="col-md-9">
    <p>Date :</p>
  </div>
  <div class="col-md-3">
    <p>Signature of the Candidate</p>
  </div>
</div><br><br>
<h5 class="text-center text-dark mt-50"style="font-size:20px"> <u>CERTIFICATE BY THE HEAD OF THE INSTITUTION</u></h5>
<p style="text-indent: 4cm;"class="text-dark ml-5 pl-5 mt-4">The above mentioned details are certified to be true after due verification with the<br> relevant
  documents and I hereby recommend the candidate for registration.
  <br>
  <div class="row text-dark">
    <div class="col-md-9 mt-5">
      <p>Place :
      </p>
      <p>Date :</p>
      <p>Seal :</p>
    </div>
    <div class="col-md-3 mt-100">
      <p>Signature of the Head of the</p>
    </div>
  </div>
    </section>
</div>
</div>
</section>



 
<!-- jQuery bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
UPLOADCARE_PUBLIC_KEY = 'demopublickey';
</script>
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>
<!-- AdminLTE App -->
<script src="js/adminlte.js"></script>
<script src="js/mbbs.js"></script>

<!-- AdminLTE for demo purposes -->
<script src="js/demo.js"></script>
<!-- page script -->


</body>

</html>